demo-grunt/out
demo-grunt/target
demo-grunt/yo/test-results.xml
live-fred/out
live-fred/target
live-fred/yo/test-results.xml
test/*
coverage-PhantomJS 1.9.7 (Mac OS X)-20140223_105541.json
test-results.xml
