

<h2>Whose dialog is it? <em>"What is it, Precious? What is it?"</em></h2>
<div ng-controller="MainCtrl as loki">
    <div class='contentWrapper ng-cloak'>
        <div class='content'>
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li ng-repeat="item in list1" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}, onDrop:'loki.dropCallback(item.title, $index)'}">
                        <div class="thumbnail" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">
                            <h1>
                                {{item.title}}
                            </h1>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{list1|json}}
</div>


<div class="row marketing">
	<h4>Composants bootstrap : </h4>
    <p><a href="http://getbootstrap.com/css/">http://getbootstrap.com/css/</a></p>
    <p><a href="#/test/ng-grid">Test ng-grid</a></p>
    <p><a href="#/test-ngtable">Test ng-table</a></p>
</div>
</div>

