<p>This is the drag-and-drop view.</p>


<style>
    .interligne {
        height: 4px;
        /*background: #fbf5d0;*/
    }

    .interligne-drop-over {
        height: 44px;
        /*background: #fbf5d0;*/
    }
    .drag {
        margin-bottom: 0px;
    }
</style>

<div class="interligne" droppable on-drag-over="dragOver" on-drag-leave="dragLeave" on-drag-enter="dragEnter" drop-id="0" on-drop="drop"></div>
<div>
    <div ng-repeat="value in data">
        <div class="well well-sm drag" draggable="value" droppable on-drag-over="dragOver" on-drag-leave="dragMainLeave" on-drag-enter="dragMainEnter">
            <span class="badge pull-right">{{value.age}}</span>
            <span class="label label-info">{{$index+1}}</span> {{value.name}}
        </div>
        <div class="interligne" droppable on-drag-leave="dragLeave" on-drag-enter="dragEnter" drop-id="{{$index+1}}" on-drop="drop"></div>
    </div>
</div>
