<style>
    .interligne {
        height: 6px;
        /*background: #fbf5d0;*/
    }

    .interligne-drop-over {
        height: 50px;
        background: #fbf5d0;
    }
    .drag {
        margin-bottom: 0px;
    }
</style>

<div class="jumbotron">
    <h3>Nombre de pizzas à commander : {{numberOfPizza}}</h3>
</div>

<form class="form-horizontal" role="form" id="form" name="form" novalidate>
    <div  class="form-group">
        <label for="firstName" class="col-sm-3 control-label">Nom de la personne</label>
        <div class="col-md-5" style="padding-top: 3px">
            <input type="text" ng-model="firstName" id="firstName" style="width: 100%"/>
        </div>
    </div>
    <div  class="form-group">
        <label for="firstName" class="col-sm-3 control-label">Nom de la pizza</label>
        <div class="col-md-5" style="padding-top: 3px">
            <input type="text" ng-model="newPizzaName" id="newPizzaName" style="width: 100%" required=""/>
        </div>
    </div>
    <div  class="form-group">
        <label class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-md-5" style="text-align: right"  >
            <input type="submit" ng-click="addNewPizza()" ng-disabled="form.$invalid" value="Ajouter une pizza" class="btn btn-primary"/>
        </div>
    </div>
    <br/>
</form>

<div class="interligne" id="firstDrop" droppable on-drag-over="dragOver" on-drag-leave="dragLeave" on-drag-enter="dragEnter" drop-id="0" on-drop="drop"></div>
<div>
    <div ng-repeat="value in data">
        <div class="well well-sm drag" draggable="value" droppable on-drag-end="dragEnd" on-drag-over="dragOver" on-drag-leave="dragMainLeave" on-drag-enter="dragMainEnter">
            <span class="pull-right" style="margin-left: 10px;">
                <button type="button" class="close" aria-hidden="true" ng-click="removePizza(value)">&times;</button>
            </span>
            <span class="pull-right" style=" margin-left: 10px;">
                <button type="button" class="close" aria-hidden="true" ng-click="subPizza(value)">-</button>
            </span>
            <span class="badge pull-right" ng-click="addPizza(value)" style="cursor: pointer">{{value.numberOfPizza}}</span>
            <span class="label label-info">{{$index+1}}</span> {{value.firstName}} : {{value.name}}
        </div>
        <div class="interligne" droppable on-drag-leave="dragLeave" on-drag-enter="dragEnter" drop-id="{{$index+1}}" on-drop="drop"></div>
    </div>
</div>

