

<div class="row">
    <p><a href="#/test-ngtable" class="btn btn-default btn-lg col-md-offset-4 col-md-4">ng-table</a></p>
</div>
<br/>
<div class="row">
    <p><a href="#/test/ng-grid" class="btn btn-default btn-lg col-md-offset-4 col-md-4">ng-grid</a></p>
</div>
<br/>
<div class="row">
    <p><a href="#ckeditor" class="btn btn-default btn-lg col-md-offset-4 col-md-4">CKEditor</a></p>
</div>
<br/>
<div class="row">
    <p><a href="#/drag-and-drop" class="btn btn-default btn-lg col-md-offset-4 col-md-4">Drap and drop</a></p>
</div>
<br/>

