

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <a href="#/tree-table" class="btn btn-lg btn-default" style="width: 100%">Tree table</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <a href="#/test-ngtable" class="btn btn-lg btn-default" style="width: 100%">ng-table</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <a href="#/test/ng-grid" class="btn btn-lg btn-default" style="width: 100%">ng-grid</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <a href="#ckeditor" class="btn btn-lg btn-default" style="width: 100%">CKEditor</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <a href="#/drag-and-drop" class="btn btn-lg btn-default" style="width: 100%">Drap and drop</a>
    </div>
</div>
<br/>

