

<div class="row">
    <div class="btn btn-default btn-lg col-md-offset-4 col-md-4">
        <a href="#/test-ngtable">ng-table</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="btn btn-default btn-lg col-md-offset-4 col-md-4">
        <a href="#/test/ng-grid">ng-grid</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="btn btn-default btn-lg col-md-offset-4 col-md-4">
        <a href="#ckeditor">CKEditor</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="btn btn-default btn-lg col-md-offset-4 col-md-4">
        <a href="#/drag-and-drop">Drap and drop</a>
    </div>
</div>
<br/>

